/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './utils/variables';
@import './utils/placeholder';

@import './components/common';

@import './components/header';
@import './components/hero';
@import './components/advantages';
@import './components/problems';
@import './components/how-we-do';
@import './components/program';
@import './components/benefits';
@import './components/about';
@import './components/guarantee';
@import './components/reviews';
@import './components/contacts';
@import './components/footer';

// Стили для файла с примером HTML-фрагмента
// @import './example';
