:root {
    --dark-text-bg: #111518;
    --graphite-text: #3D3D3D;
    --grey-text: #B9B9B9;
    --orange-text: #FF6B09;
    --white-text: #FFFFFF;
    --light-grey-bg:#E5E5E5;
    --grey-bg: #F1F1F1;
    --modal-bg: rgba(17, 21, 24, 0.9);
    --shadow10-cards: rgba(0, 0, 0, 0.1);
    --shadow40: rgba(0, 0, 0, 0.4);
    --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}