<section class="advantages">
  <div class="container advantages__container">
    <h2 class="advantages__title visually-hidden"></h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--female-student">
        <p class="advantages__text">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="advantages__item advantages__item--mobile-learning">
        <p class="advantages__text">Современные методики обучения</p>
      </li>
      <li class="advantages__item advantages__item--insurance">
        <p class="advantages__text">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
