<section class="benefits" id="benefits"></section>
<section class="benefits">
    <div class="container benefits__container">

        <h2 class="benefits__title">Почему нас выбирают</h2>

        <ul class="benefits__list">

            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Обучение в малых командах</span>
            </li>
            
            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Визуализированные конспекты</span>
            </li>
            
            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Каждое занятие имеет цель и конкретный результат</span>
            </li>
            
            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Ревльные результаты преподавателя</span>
            </li>
            
            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Прогамма курса соответствует требованиям МОН Украины</span>
            </li>
            
            <li class="benefits__item">
                <h3 class="benefits__subtitle"></h3>
                <span class="benefits__text">Набор команд по уровням знаний</span>
            </li>
            
        </ul>

    </div>
</section>