<section class="contacts" id="contacts">
  <div class="contacts__overlay">
    <div class="contacts__container">
    <h2 class="contacts__title">
      Регистрация на <span class="contacts__title--orange"> бесплатную</span><br> телефонную
      <span class="contacts__title--orange"> консультацию </span>по нюансам ЗНО по английскому языку
    </h2>
    <p class="contacts__text">
      Оставь заявку на участие в <span class="contacts__text--orange"> бесплатном занятии.</span><br> С
      вами свяжется консультант и ответит на вопросы
    </p>
    <form class="contacts-form">
      <div class="contacts-form__wrapper">
        <label class="contacts-form__item" for="name">Имя*</label>
        <input
          class="contacts-form__text"
          type="text"
          name="name"
          id="name"
          pattern="^[a-zA-Z]+$"
          required
        />
      </div>
      <div class="contacts-form__wrapper">
        <label class="contacts-form__item" for="phone">Телефон*</label>
        <input
          class="contacts-form__text"
          type="tel"
          name="phone"
          id="phone"
          pattern="[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}"
          required
        />
      </div>
      <div class="contacts-form__button-wrapper">
        <button class="contacts-form__button" type="submit">хочу на бесплатное занятие</button>
      </div>
    </form>
  </div>
  </div>
</section>
