<section class="contacts">
    <div class="contact__image">
        <div class="contact__overlay">
    <h2 class="contact__title">
        Регистрация на <span class="contact__title--orange"> бесплатную</span> телефонную <span class="contact__title--orange"> консультацию </span>по нюансам ЗНО по английскому языку
    </h2> 
    <p class="contact__text">
        Оставь заявку на участие в <span class="contact__text--orange" > бесплатном занятии</span>. С вами свяжется консультант и ответит на вопросы
    </p>
<form class="contact-form">
    <div class="contact-form__wrapper">
       
       <input class="contact-form__text" type="text" name="name" id="name">
       <label class="contact-form__item" for="name" >Имя*</label>
    </div >
    <div class="contact-form__wrapper">
      <input class="contact-form__text" type="tel" name="tel" id="tel" >
      <label class="contact-form__item" for="tel">Телефон*</label> 
      
    
    </div>
    <div class="contact-form__button">
      <button class="contact-form__btn" type="submit">
          хочу на бесплатное занятие
       </button>
      </div>
</form>
</div>
</div>

</section>

