<footer class="footer">
    <div class="footer-logo">
       <span class="footer-logo__item">Hell</span> 
       <svg class="footer-logo__icon" >
           <use href="../src/images/sprite.svg#flame" ></use>
       </svg>
 <span class="footer-logo__item" >EN</span>

 <p class="footer-logo__text">Адский английский</p>
</div>
 <div class="footer-sociall"> 
     <svg class="footer-sociall__icon" height="28.8px">
         <use href="../src/images/sprite.svg#phone"></use>
     </svg>
 <a class="footer-sociall__link"href="#">+38 (000) 000 00 00</a>
 
    </div>
 </footer>

