<footer class="footer">
    <div class="container footer__container">
        
    
    
     <ul class="logo-field" >
      <li class="logo-field__box logo-field__box--flex" > <span class="logo-field__label">Hell
        <svg class="logo-field__link">
            <use class="logo-field__icon" href="./images/sprite.svg#icon-logo_fire"></use>
        </svg> EN </span></li> 
    
    <li class="logo-field__box" > <a class="logo-field__item" href="../src/index.html">адский английский</a> </li>
    </ul>
    
    <ul class="footer-sociall"> 
      
    <li class="footer-sociall__box" > <svg class="footer-sociall__item" width="20px" height="19px">
            <use href="./images/sprite.svg#icon-phone"></use>
        </svg></li>
         <li class="footer-sociall__box" > <a class="footer-sociall__link" href="tel:+380000000000">+38 (000) 000 00 00</a></li>
    </ul> 
  <a  class="footer-sociall__icon" href="https://www.instagram.com/"></a>


</div>

</footer>