<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <a class="logo" href="/">Hell 
                <svg class="icon" width="14" height="20">
                    <use href="./images/sprite.svg#icon-flame"></use>
                </svg>
                EN</a>
            <p class="name"><span class="hell">адский</span> английский</p>
        </div>
        <nav class="header__nav">
            <ul class="links">
                <li class="links-menu"><a href="#" class="links-item">Программы обучения</a></li>
                <li class="links-menu"><a href="#" class="links-item carrnet">О нас</a></li>
                <li class="links-menu"><a href="#" class="links-item">Варианты обучения</a></li>
                <li class="links-menu"><a href="#" class="links-item">Контакты</a></li>
            </ul>
        </nav>

        <button class="button header__button" data-modal-open>Консультация по телефону</button>

        <button class="header-menu__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="header-menu__icon" width="20" height="12">
                <use href="./images/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>
