<header class="header">
    <div class="container header__container">
        <div class="header__logo">
            <span class="logo"> Hell 
                <svg class="logo__icon">
                    <use href="./images/sprite.svg#icon-flame"></use>
                </svg>
                EN</span>
            <p class="logo__name"><span class="logo__hell">адский</span> английский</p>
        </div>

        <nav class="header__nav">
            <ul class="menu">
                <li class="menu__links"><a href="./program.html" class="menu__item">Программы обучения</a></li>
                <li class="menu__links"><a href="./about.html" class="menu__item currnet">О нас</a></li>
                <li class="menu__links"><a href="./how-we-do.html" class="menu__item">Варианты обучения</a></li>
                <li class="menu__links"><a href="./contacts.html" class="menu__item">Контакты</a></li>
            </ul>
        </nav>

        <button class="button header__button" data-modal-open>Консультация по телефону</button>

        <button class="header-menu__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg class="header-menu__icon" width="20" height="12">
                <use href="./images/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>