<section class="hero">
    <div class="hero__container">
        <div class="hero-set">
            <h2 class="hero__title">Комплексная<br>подготовка к ВНО<br>по английскому языку</h2>
            <p class="hero__subtitle">Просто не будет.</p> 
            <p class="hero__article">Но ты гарантировано наберешь <span class="hero__item">+25 баллов</span></p>
            <button class="hero__btn"> <a class="hero__btn-link" href="#"></a> Хочу на бесплатное занятие</button>
        </div>
        <!-- <div class="hero__bg">
            <img class="hero__img"
            srcset="../src/images/hero-bg.png 1x, ../src/images/hero-bg@2x.png 2x"
            src="../src/images/hero-bg.png" alt="Hero photo">
      </div> -->
    </div>
</section>

