<section class="hero">
    <div class="hero__container">
        <div class="hero-set">
            <h2 class="hero__title">Комплексная<br>подготовка к ВНО<br>по английскому языку</h2>
            <p class="hero__subtitle">Просто не будет.</p> 
            <p class="hero__article">Но ты гарантировано наберешь <span class="hero__item">+25 баллов</span></p>
            <button class="hero__btn"> <a class="hero__btn-link" href="#"></a> Хочу на бесплатное занятие</button>
        </div>

        <img class="hero__img"
        srcset="../src/images/mobile-hero.png 1x, ../src/images/mobile-hero@2x.png 2x"
        src="../src/images/mobile-hero.png" alt="Hero photo">
        <img class="hero__gradient"
        srcet="../src/images/mobile-hero-gradient.png 1x, ../src/images/mobile-hero-gradient@2x.png 2x"
        src="../src/images/mobile-hero-gradient.png">
    </div>
</section>
