<section class="hero">
    <div class="hero__container">
        <div class="hero__set">
            <h2 class="hero__title">Комплексная<br>подготовка к ВНО<br>по английскому языку</h2>
            <p class="hero__subtitle">Просто не будет.</p> 
            <p class="hero__article">Но ты гарантировано наберешь <span class="hero__item">+25 баллов</span></p>
        </div>
        <div>
            <a class="hero__btn" href="#contacts">Хочу на бесплатное занятие</a> 
        </div>
    </div>
</section>

