<section class="work">
  <div class="container work__container">
    <h2 class="work__title">Как мы это делаем</h2>
    <ul class="work__list">
      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="45px" height="48px">
              <use href="./images/sprite.svg#study-program"></use>
            </svg>
          </div>
          <h3 class="work__text">Адаптированная программа подготовки к ВНО</h3>

          <p class="work__paragraph">
            Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.
          </p>
        </div>
      </li>

      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="48px" height="47px">
              <use href="./images/sprite.svg#mobile-lerning-small"></use>
            </svg>
          </div>
          <h3 class="work__text">Аудитория и онлайн-обучение</h3>

          <p class="work__paragraph">
            Учитель поможет не только в аудитории, но и во время домашней подготовки. Родители могут
            участвовать в чате при желании.
          </p>
        </div>
      </li>

      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="68px" height="48px">
              <use href="./images/sprite.svg#open-book"></use>
            </svg>
          </div>

          <h3 class="work__text">Привычка читать на английском языке</h3>

          <p class="work__paragraph">
            Статьи из источников, которые используются при разработке настоящего ВНО, будут
            приходить на телефон дважды в неделю.
          </p>
        </div>
      </li>

      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="48.35px" height="48px">
              <use href="./images/sprite.svg#support"></use>
            </svg>
          </div>
          <h3 class="work__text">Психологическая поддержка</h3>

          <p class="work__paragraph">
            Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку
            уверенности в себе.
          </p>
        </div>
      </li>

      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="45px" height="48px">
              <use href="./images/sprite.svg#female-student-small"></use>
            </svg>
          </div>
          <h3 class="work__text">Обучение по авторским пособиям</h3>

          <p class="work__paragraph">
            Тебе не нужно тратить время на самостоятельный поиск материала и ничего покупать
            дополнительно. Мы составили 2 пособия для тебя.
          </p>
        </div>
      </li>

      <li class="work__item">
        <div class="work__card">
          <div class="work__thumb--svg">
            <svg class="work__icon--svg" width="57px" height="48px">
              <use href="./images/sprite.svg#audio-book"></use>
            </svg>
          </div>
          <h3 class="work__text">Умение воспринимать устную английскуб речь</h3>

          <p class="work__paragraph">
            “F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать и разбирать аудиозаписи в
            соответствии с изучаемой лексикой.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
