<div class="container menu__container js-menu-container" id="mobile-menu">
    <button class="menu-button js-close-menu">
        <svg class="modal-close" width="20" height="20">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>

    <div class="menu__logo">
        <a class="logo" href="/">Hell
            <svg class="icon" width="14" height="20">
                <use href="./images/sprite.svg#icon-flame"></use>
            </svg>
            EN</a>
        <p class="name"><span class="hell">адский</span> английский</p>
    </div>
    
        <ul class="mobile-menu">
            <li class="mobile-menu__links"><a href="#" class="mobile-menu__item">Программы обучения</a></li>
            <li class="mobile-menu__links"><a href="#" class="mobile-menu__item mobile-menu__item--carrnet">О нас</a></li>
            <li class="mobile-menu__links"><a href="#" class="mobile-menu__item">Варианты обучения</a></li>
            <li class="mobile-menu__links"><a href="#" class="mobile-menu__item">Контакты</a></li>
        </ul>
   
    
    <button class="button header__button" data-modal-open>Консультация по телефону</button>

    </div>
