<div class="container menu__container js-menu-container" id="mobile-menu">
    <button class="menu__button js-close-menu">
        <svg class="mobile-close--close" width="15" height="15">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>

    <div class="menu__logo">
        <span class="logo__menu"> Hell
            <svg class="logo__icon">
                <use href="./images/sprite.svg#icon-flame"></use>
            </svg>
            EN</span>
        <p class="logo__name--menu"><span class="hell">адский</span> английский</p>
    </div>
    
        <ul class="mobile-menu">
            <li class="mobile-menu__links"><a href="./program.html" class="mobile-menu__item">Программы обучения</a></li>
            <li class="mobile-menu__links"><a href="./about.html" class="mobile-menu__item currnet">О нас</a></li>
            <li class="mobile-menu__links"><a href="./how-we-do.html" class="mobile-menu__item">Варианты обучения</a></li>
            <li class="mobile-menu__links"><a href="./contacts.html" class="mobile-menu__item">Контакты</a></li>
        </ul>
   
    
    <button class="menu__button--send" data-modal-open>Консультация по телефону</button>

    </div>
