<div class="menu__container js-menu-container" id="mobile-menu">
  <div class="menu__box">
    <button class="menu__button js-close-menu">
      <svg class="menu__button--close" width="15" height="15">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="logo__menu">
      <span class="menu__logo">
        Hell
        <svg class="logo__icon">
          <use href="./images/sprite.svg#icon-flame"></use>
        </svg>
        EN</span
      >
      <p class="menu__name"><span class="menu__hell">адский</span>английский</p>
    </div>

    <ul class="mobile-menu">
      <li class="mobile-menu__links">
        <a href="#program" class="mobile-menu__item link1">Программы обучения</a>
      </li>
      <li class="mobile-menu__links">
        <a href="#about" class="mobile-menu__item link2">О нас</a>
      </li>
      <li class="mobile-menu__links">
        <a href="#how-we-do" class="mobile-menu__item link3">Варианты обучения</a>
      </li>
      <li class="mobile-menu__links">
        <a href="#contacts" class="mobile-menu__item link4">Контакты</a>
      </li>
    </ul>

    <a href="#footer" class="menu__button--send"> Консультация по телефону</a>
  </div>
</div>
