<section class="problems">
  <div class="container problems__container">
    <div class="problems__conteiner--title">
      <h2 class="problems__title">
        Главные проблемы учеников на English ВНО, которые мы
        <span class="problems__title--orange">помогаем</span> решить
      </h2>
    </div>

    <div class="counter__container">
      <ul class="counter__list">
        <li class="counter__item">
          <h2 class="counter__text">Название грамматики</h2>
        </li>

        <li class="counter__item">
          <h2 class="counter__text">Неумение вомпринимать устную английскую речь</h2>
        </li>

        <li class="counter__item">
          <h2 class="counter__text">Скупой словарный запас для написани сочинения</h2>
        </li>

        <li class="counter__item">
          <h2 class="counter__text">Поодготовка в одиночку</h2>
        </li>

        <li class="counter__item">
          <h2 class="counter__text">Отсутствие единого ресурса знаний</h2>
        </li>

        <li class="counter__item">
          <h2 class="counter__text">Недостатой самоорганизации и лень</h2>
        </li>
      </ul>
    </div>
  </div>
</section>
