<section class="program" id="program">
    <div class="container program__container">
        <h2 class="program__title">Наша программа</h2>
        
            <div class="program__wrapper">
                <ul class="program__list">

                    <li class="program__item">
                        <h3  class="program__subtitle">1 семестр</h3>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Grammar</h4>
    
                                <ul>
                                    <li class="program__description">Nouns & Article</li>
                                    <li class="program__description">Adjectives & Adverb</li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Vocabulary</h4>
    
                                <ul>
                                    <li class="program__description">Family & Relations/li>
                                    <li class="program__description">People & Society</li>
                                </ul>
    
                            </li>
                        </ul>
    
                    </li>
    
                    <li class="program__item">
                        <h3  class="program__subtitle">2 семестр</h3>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Grammar</h4>
    
                                <ul>
                                    <li class="program__description">Pronouns</li>
                                    <li class="program__description">Active Voice</li>
                                    <li class="program__description">Passive Voice</li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Vocabularyr</h4>
    
                                <ul>
                                    <li class="program__description">Home</li>
                                    <li class="program__description">School</li>
                                    <li class="program__description">Work</li>
                                </ul>
    
                            </li>
                        </ul>
    
                    </li>
    
                    <li class="program__item">
                        <h3  class="program__subtitle">3 семестр</h3>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Grammar</h4>
    
                                <ul>
                                    <li class="program__description">Modal verbs</li>
                                    <li class="program__description">Infinitive</li>
                                    <li class="program__description">Gerund</li>
                                    <li class="program__description">Participle: 1, 2</li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Vocabulary</h4>
    
                                <ul>
                                    <li class="program__description">Travel & Tourism</li>
                                    <li class="program__description">Culture & Free Time</li>
                                    <li class="program__description">Sport </li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Writing</h4>
    
                                <ul>
                                    <li class="program__description">Informal Letter</li>
                                </ul>
    
                            </li>
                        </ul>
    
                    </li>
    
                    <li class="program__item">
                        <h3  class="program__subtitle">4 семестр</h3>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Grammar</h4>
    
                                <ul>
                                    <li class="program__description">Clauses: Conditional and Wishes</li>
                                    <li class="program__description">Direct / Reported speech</li>
                                    <li class="program__description">Preposition</li>
                                    <li class="program__description">Conjunction</li>
                                    <li class="program__description">Numeral</li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Vocabulary</h4>
    
                                <ul>
                                    <li class="program__description">Healthy Living</li>
                                    <li class="program__description">Nature & Environment</li>
                                    <li class="program__description">Money</li>
                                </ul>
    
                            </li>
                        </ul>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">Writing</h4>
    
                                <ul>
                                    <li class="program__description">Formal Letter</li>
                                </ul>
    
                            </li>
                        </ul>
    
                    </li>
    
                    <li class="program__item">
                        <h3  class="program__subtitle">5 семестр</h3>
    
                        <ul>
                            <li>
                                <h4 class="program__skills">&nbsp</h4>
    
                                <ul>
                                    <li class="program__description">Revision</li>
                                    <li class="program__description">Tests</li>
                                </ul>
    
                            </li>
                        </ul>
    
                    </li>
                </ul>
            </div>
            <img
            class="program__picture"
            alt="Учебый процес"
            src="./images/program-mobile.jpg"
            srcset="./images/program-mobile.jpg 1x, ./images/program-mobile@2x.jpg 2x"
          />
    </div>
</section>