<section class="program" id="program">
    <div class="container program__container">
        <h2 class="program__title">Наша программа</h2>
        <ul class="program__list">
            <li class="program__item">
                
                <h3 class="program__subtitle">1 семестр</h3>
                
                <h4 class="program__skills">Grammar</h4>
                <span class="program__description">Nouns & Articles</span>
                <span class="program__description">Adjectives & Adverb</span> 

                <h4 class="program__skills">Vocabulary</h4>
                <span class="program__description">Family & Relations</span>
                <span class="program__description">People & Society</span>
                
            </li>
            <li class="program__item">
                <h3 class="program__subtitle">2 семестр</h3>

                <h4 class="program__skills">Grammar</h4>
                <span class="program__description">Pronouns</span>
                <span class="program__description">Active Voice</span>
                <span class="program__description">Passive Voice</span>

                <h4 class="program__skills">Vocabulary</h4>
                <span class="program__description">Home</span>
                <span class="program__description">School</span>
                <span class="program__description">Work</span>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">3 семестр</h3>

                <h4 class="program__skills">Grammar</h4>
                <span class="program__description">Modal verbs</span>
                <span class="program__description">Infinitive</span>
                <span class="program__description">Gerund</span>
                <span class="program__description">Participle: 1, 2</span>

                <h4 class="program__skills">Vocabulary</h4>
                <span class="program__description">Travel & Tourism</span>
                <span class="program__description">Culture & Free Time</span>
                <span class="program__description">Sport</span>

                <h4 class="program__skills">Writing</h4>
                <span class="program__description">Informal Letter</span>
            </li>
            <li class="program__item">
                <h3 class="program__subtitle">4 семестр</h3>
                <h4 class="program__skills">Grammar</h4>
                <span class="program__description">Clauses: Conditional and Wishes</span>
                <span class="program__description">Direct / Reported speech</span>
                <span class="program__description">Preposition</span>
                <span class="program__description">Conjunction</span>
                <span class="program__description">Numeral</span>
                    

                <h4 class="program__skills">Vocabulary</h4>
                <span class="program__description">Healthy Living</span>
                <span class="program__description">Nature & Environment</span>
                <span class="program__description">Money</span>
                    

                <h4 class="program__skills">Writing</h4>
                <span class="program__description">Formal Letter</span>

            </li>
            <li class="program__item">
                <h3 class="program__subtitle">5 семестр</h3>
                <h4 class="program__skills"></h4>
                <span class="program__description">Revision</span>
                <span class="program__description">Tests</span>
            </li>
        </ul>
        <img
            class="program__picture"
            alt="Учебый процес"
            src="./images/mobile-program.jpg"
            srcset="./images/mobile-program.jpg 1x, ./images/mobile-program@2x.jpg 2x"
          />
    </div>
</section>