<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <!-- верхний слайдер -->
    <ul class="reviewer">
      <!-- ревьювер 1 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Кароліна Погорілець"
            src="./images/reviews-photo1-big.jpg"
            srcset="./images/reviews-photo1-big.jpg 1x, ./images/reviews-photo1-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-fb"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Кароліна Погорілець</h3>
          <p class="reviewer__education">
            Выпуск 2010-го года, Національний університет економіки України
          </p>
          <article class="reviewer__description">
            Благодаря знаниям, которыми делятся с нами преподаватель, мой уровень знаний растет с
            каждым уроком. Я больше систематизировала и разобралась с временами в английском языке.
            Благодаря small words я разнообразила свой словарный запас и разнообразила своб речь.
            Моему успеху на курсе и в изучении английского я очень благодарна своему преподавателю
            так как от подачи материала зависит мое восприятие. Доступность в изложении матераила,
            интересный и разнообразный материал на уроках. Самая главная победа еще впереди, а два
            курса и новый этот подход уже изучен, чему я очень рада. Надеюсь буду подолжать изучение
            английского с Илоной и моими милыми одногруппниками.
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 2 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Зоя Теліга"
            src="./images/reviews-photo2-big.jpg"
            srcset="./images/reviews-photo2-big.jpg 1x, ./images/reviews-photo2-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Зоя Теліга</h3>
          <p class="reviewer__education">
            Выпуск 2011-го года, Національний університет шпигунів України
          </p>
          <article class="reviewer__description">
            На цьому рівні я помітила, що часто стала помічати вивчені моделі речень у англійських
            текстах, що я читала або відео, що я дивилася. Я дізналася також досить багато нових
            слів, котрі будуть мені корисні у спілкуванні на різноманітну тематику. Також я більш
            впевнено почуваю себе із умовними типами речень, на цьому рівні я остаточно розібралась
            з тими видами умовних речень, що ми проходили раніше, а також із непрямою мовою. Крім
            того я набагато впевненіше почуваю себе у сприйнятті англійської мови на слух, можу
            дивитися повністю англійською відео і розуміти не лише загальний зміст, а й окремі
            історії, речення на жарти. В цьому мені також допомогло, що на цьому рівні ми
            доторкнулись до теми розмовної, побутової англійської.
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 3 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Валентина Ткач"
            src="./images/reviews-photo3-big.jpg"
            srcset="./images/reviews-photo3-big.jpg 1x, ./images/reviews-photo3-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Валентина Ткач</h3>
          <p class="reviewer__education">
            Выпуск 2012-го года, Національний університет багаття України
          </p>
          <article class="reviewer__description">
            Загалом моя історія успіху не одна із втішних, я змінювала 2 рази викладача (через мої
            власні обставини) і цьому теж дуже рада. Це ще більше практики на моєму шляху. Різні
            викладачі та студенти, можливість поспілкуватись та попрактикуватись велика. Я чесно
            кажучи дуже задоволена Вашою саме методикою, а саме більше говоримо - менше пишемо, всі
            домашки варті того, щоб їх виконувати. Все закладається в голові і надовго і це супер
            класно. Дуже дякую Світлані за допомогу та завжди класний настрій. Підтримували і
            допомагали як могли. Дійсно, цінні знання від Вас. Дякую! Далі буду навчатись обовязково
            через деякий період.
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 4 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Лариса Карпа"
            src="./images/reviews-photo4-big.jpg"
            srcset="./images/reviews-photo4-big.jpg 1x, ./images/reviews-photo4-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Лариса Карпа</h3>
          <p class="reviewer__education">
            Выпуск 2013-го года, Національний університет друкарів України
          </p>
          <article class="reviewer__description">
            Учусь уже с 4-го уровня, если не ошибаюсь, начинала в оффлайн и потом перешла в онлайн.
            Конечно, результат методики виден и чувствуется! Благодаря школе и своему труду я нашла
            иностранный проект, где все-все на английском и теперь работаю как фрилансер! Очень
            круто разобрали кондишиналз, которые на протяжении всей моей жизни никогда не были
            понятны. А оказалось все легко! По сравнению с оффлайн, нравится онлайн чуть меньше, но
            есть свои поюсы. Больше нравится, что 2 часа, а не 3. Единственное - хуже запоминаются
            слова (все таки когда мы писали по 2 строчки в офлайн- это было эффективно, но так как
            сейчас загрузка у меня намного больше - я рада, что домашка в печатном виде). Саше
            большое спасибо за терпение и постоянный коннект и объяснения! Все супер, идем к финалу!
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 5 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Алла Шевченко"
            src="./images/reviews-photo5-big.jpg"
            srcset="./images/reviews-photo5-big.jpg 1x, ./images/reviews-photo5-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-ig"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Алла Шевченко</h3>
          <p class="reviewer__education">
            Выпуск 2014-го года, Національний університет правди України
          </p>
          <article class="reviewer__description">
            Я обучаюсь на 4 уровне под руководством Светланы, чем безумно довольна и делаю все
            возможное, чтобы не отставать от нашей группы и продолжать обучение вместе. Занятия
            проходят очень интересно и доступно. На каждое занятие я иду с позитивным настроем, а
            возвращаюсь с бомбическим настроением, которое парит в воздухе на занятиях со Светланой!
            За период обучения на 4 уровне я однозначно пополнила свой словарный запас на 150+ слов,
            чем безумно довольна и благодарна! Останавливаться не собираюсь, готова работать над
            собой и над своим английским на протяжении длительного периода вместе со школой English
            Prime school! Люблю Вас, обожаю и смело всем рекомендую!!!! Светлана one love!
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 6 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Тоня Кучеровская"
            src="./images/reviews-photo6-big.jpg"
            srcset="./images/reviews-photo6-big.jpg 1x, ./images/reviews-photo6-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Тоня Кучеровская</h3>
          <p class="reviewer__education">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </p>
          <article class="reviewer__description">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
      <!-- ревьювер 7 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Марина Тополя"
            src="./images/reviews-photo7-big.jpg"
            srcset="./images/reviews-photo7-big.jpg 1x, ./images/reviews-photo7-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__name">Марина Тополя</h3>
          <p class="reviewer__education">
            Выпуск 2016-го года, Національний університет бронювання України
          </p>
          <article class="reviewer__description">
            Я безумно рада, что я выбрала школу английского языка English Prime. Мне очень нравиться
            процесс самого урока, а именно 80% практики на английском языке. Огромным плюсом для
            меня есть общение с native speaker! Это помогает не только развивать speaking skills, но
            также я научилась слушать людей из разных стан и с разными акцентами. Отдельное спасибо
            моему преподавателю Ирине за её позитив, хорошее настроение и мастерство в преподавании.
            I love English.
          </article>
          <button class="reviewer__button" href="#">Читать дальше</button>
        </div>
      </li>
    </ul>
    <!-- нижний слайдер -->
    <div class="reviewers">
      <ul class="reviewers__set">
        <!-- ревьювер 1 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Кароліна Погорілець"
              src="./images/reviews-photo1.jpg"
              srcset="./images/reviews-photo1.jpg 1x, ./images/reviews-photo1@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 2 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Зоя Теліга"
              src="./images/reviews-photo2.jpg"
              srcset="./images/reviews-photo2.jpg 1x, ./images/reviews-photo2@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 3 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Валентина Ткач"
              src="./images/reviews-photo3.jpg"
              srcset="./images/reviews-photo3.jpg 1x, ./images/reviews-photo3@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 4 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Лариса Карпа"
              src="./images/reviews-photo4.jpg"
              srcset="./images/reviews-photo4.jpg 1x, ./images/reviews-photo4@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 5 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Алла Шевченко"
              src="./images/reviews-photo5.jpg"
              srcset="./images/reviews-photo5.jpg 1x, ./images/reviews-photo5@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 6 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Тоня Кучеровская"
              src="./images/reviews-photo6.jpg"
              srcset="./images/reviews-photo6.jpg 1x, ./images/reviews-photo6@2x.jpg 2x"
            />
          </a>
        </li>
        <!-- ревьювер 7 -->
        <li class="reviewers__item">
          <a class="reviewers__personal-link">
            <img
              class="reviewers__picture"
              alt="Марина Тополя"
              src="./images/reviews-photo7.jpg"
              srcset="./images/reviews-photo7.jpg 1x, ./images/reviews-photo7@2x.jpg 2x"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
