<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    верхний слайдер
    <ul class="reviewer">
      <!-- ревьювер 1 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Кароліна Погорілець"
            src="./images/reviews-photo1-big.jpg"
            srcset="./images/reviews-photo1-big.jpg 1x, ./images/reviews-photo1-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-fb"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Кароліна Погорілець</h3>
          <span class="reviewer__education">
            Выпуск 2010-го года, Національний університет економіки України
          </span>
          <span class="reviewer__description">
            После прохождения первого уровня я стала уверенней произносить слова и научилась строить
            предложения на английском языке. Мне очень понравилось обучение в школе English Prime. В
            этом большая заслуга нашего преподавателя Даши. Уроки проходят в непринужденной
            обстановке, информация излагается в простой и понятной форме. С удовольствием буду
            продолжать обучение в этой школе ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 2 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Зоя Теліга"
            src="./images/reviews-photo2-big.jpg"
            srcset="./images/reviews-photo2-big.jpg 1x, ./images/reviews-photo2-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Зоя Теліга</h3>
          <span class="reviewer__education">
            Выпуск 2011-го года, Національний університет шпигунів України
          </span>
          <span class="reviewer__description">
            Я с большой благодарностью за обучение и позитивную подачу материала заканчиваю первый
            уровень. Мне очень комфортно в группе с этими людьми и приятно. Наш преподаватель
            большая умничка :) Это не первая попытка, у меня, учить английский. Но здесь, как
            говорят, "зашло" :) Да, не все идеально с моими знаниями, так как учить дополнительно
            нет времени. У меня появилось большое ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 3 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Валентина Ткач"
            src="./images/reviews-photo3-big.jpg"
            srcset="./images/reviews-photo3-big.jpg 1x, ./images/reviews-photo3-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Валентина Ткач</h3>
          <span class="reviewer__education">
            Выпуск 2012-го года, Національний університет багаття України
          </span>
          <span class="reviewer__description">
            На цьому рівні я помітила, що часто стала помічати вивчені моделі речень у англійських
            текстах, що я читала або відео, що я дивилася. Я дізналася також досить багато нових
            слів, котрі будуть мені корисні у спілкуванні на різноманітну тематику. Також я більш
            впевнено почуваю себе із умовними типами речень, на цьому рівні я остаточно розібралась
            з тими видами умовних речень, що ми про...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 4 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Лариса Карпа"
            src="./images/reviews-photo4-big.jpg"
            srcset="./images/reviews-photo4-big.jpg 1x, ./images/reviews-photo4-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Лариса Карпа</h3>
          <span class="reviewer__education">
            Выпуск 2013-го года, Національний університет друкарів України
          </span>
          <span class="reviewer__description">
            Це мій п’ятий рівень навчання у школі “Prime English”. Було складно, але цікаво.
            Методика викладання дає змогу поступово просуватися з рівня на рівень і оволодівати
            навичками спілкування англійською мовою. Велика вдячність усім викладачам, які вчили
            мене з першого рівня. Особлива вдячність Ксенії, надзвичайно фаховому і толерантному
            викладачу. Щиро радію, що для вивчення англійської ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 5 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Алла Шевченко"
            src="./images/reviews-photo5-big.jpg"
            srcset="./images/reviews-photo5-big.jpg 1x, ./images/reviews-photo5-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-ig"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Алла Шевченко</h3>
          <span class="reviewer__education">
            Выпуск 2014-го года, Національний університет правди України
          </span>
          <span class="reviewer__description">
            Загалом моя історія успіху не одна із втішних, я змінювала 2 рази викладача (через мої
            власні обставини) і цьому теж дуже рада. Це ще більше практики на моєму шляху. Різні
            викладачі та студенти, можливість поспілкуватись та попрактикуватись велика. Я чесно
            кажучи дуже задоволена Вашою саме методикою, а саме більше говоримо - менше пишемо, всі
            домашки варті того, щоб їх виконувати. Все ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 6 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Тоня Кучеровская"
            src="./images/reviews-photo6-big.jpg"
            srcset="./images/reviews-photo6-big.jpg 1x, ./images/reviews-photo6-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-vk"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Тоня Кучеровская</h3>
          <span class="reviewer__education">
            Выпуск 2015-го года, Національний університет біоресурсів і природокористування України
          </span>
          <span class="reviewer__description">
            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
            словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з
            Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. Зараз
            я можу похизуватись тим, що я студен ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
      <!-- ревьювер 7 -->
      <li class="reviewer__item">
        <div class="reviewer__wrapper">
          <img
            class="reviewer__picture"
            alt="Марина Тополя"
            src="./images/reviews-photo7-big.jpg"
            srcset="./images/reviews-photo7-big.jpg 1x, ./images/reviews-photo7-big@2x.jpg 2x"
          />
          <a href="#" class="reviewer__social-link">
            <svg class="reviewer__social-icon" width="44" height="44">
              <use href="./images/sprite.svg#icon-in"></use>
            </svg>
          </a>
          <h3 class="reviewer__education">Марина Тополя</h3>
          <span class="reviewer__education">
            Выпуск 2016-го года, Національний університет бронювання України
          </span>
          <span class="reviewer__description">
            Я залишився цілком задоволеним пройденим 5 рівнем з вивчення англійської мови в English
            Prime school. В школі з часом починаєш відчувати себе як вдома і з радістю відвідуєш її.
            Цьому максимально сприяла дружня атмосфера в нашому колективі людей, яких об’єднує одна
            спільна мета - “Нарешті вже вивчити і заговорити англійською!” І звісно ж наша
            харизматична і товаристська вчителька, яка ...
            <a class="reviewer__link" href="#">Читать дальше</a>
          </span>
        </div>
      </li>
    </ul>
    <!-- нижний слайдер -->
    <div class="reviewers">
      <button class="reviewers__button--left">left</button>
      <ul class="reviewers__set">
        <!-- ревьювер 1 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Кароліна Погорілець"
              src="./images/reviews-photo1.jpg"
              srcset="./images/reviews-photo1.jpg 1x, ./images/reviews-photo1@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 2 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Зоя Теліга"
              src="./images/reviews-photo2.jpg"
              srcset="./images/reviews-photo2.jpg 1x, ./images/reviews-photo2@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 3 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Валентина Ткач"
              src="./images/reviews-photo3.jpg"
              srcset="./images/reviews-photo3.jpg 1x, ./images/reviews-photo3@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 4 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Лариса Карпа"
              src="./images/reviews-photo4.jpg"
              srcset="./images/reviews-photo4.jpg 1x, ./images/reviews-photo4@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 5 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Алла Шевченко"
              src="./images/reviews-photo5.jpg"
              srcset="./images/reviews-photo5.jpg 1x, ./images/reviews-photo5@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 6 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Тоня Кучеровская"
              src="./images/reviews-photo6.jpg"
              srcset="./images/reviews-photo6.jpg 1x, ./images/reviews-photo6@2x.jpg 2x"
            />
          </button>
        </li>
        <!-- ревьювер 7 -->
        <li class="reviewers__item">
          <button class="reviewers__personal-button">
            <img
              class="reviewers__picture"
              alt="Марина Тополя"
              src="./images/reviews-photo7.jpg"
              srcset="./images/reviews-photo7.jpg 1x, ./images/reviews-photo7@2x.jpg 2x"
            />
          </button>
        </li>
      </ul>
      <button class="reviewers__button--right">right</button>
    </div>
  </div>
</section>
