.about__container {
    color: $dark-text-bg;
    @media screen and (max-width: 767px) {
        padding: 0 20px 50px;

    }
    @media screen and (min-width: 768px) {
        padding: 0 40px 50px;
        max-width: 768px;
    }        
    @media screen and (min-width: 1280px) {
        max-width: calc(180px + 1205px);
        padding: 0 0 130px 180px;
    }
}


.about__title {
    font-weight: 800;
    font-size: 20px;
    line-height: calc(26 / 20);
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 767px) and (max-width: 1279px) {
        margin-bottom: 30px;
        font-size: 26px;
        line-height: calc(34 / 26);
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 50px;
        font-size: 46px;
        line-height: calc(60 / 46);
    }
}

.about__card {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about-img__thumb {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        max-width: 243px;
    }

    @media screen and (max-width: 1279px){
        min-width: 243px;
        margin-right: 40px;
    }
    @media screen and (min-width: 1280px) {
        min-width: 530px;
        margin-right: 30px;

    }
}

.about__name {
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.08em;

    padding-bottom: 10px;
    border-bottom: 1px solid $grey-text;
    @media screen and (min-width: 1280px) {
        padding-bottom: 15px;
        font-size: 30px;
        line-height: calc(37 / 30);
    }

}

.about-expirience__item {
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    letter-spacing: 0.06em;
    margin-top: 20px;

    display: flex;
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: calc(20 / 16);
        margin-top: 30px;
    }

&::before {
    content: "";
    min-width: 17px;
    height: 14px;
    margin-right: 9px;
    background-image: url("../images/icon-about.svg");
  }
  }

.about__element {
    position: relative;
    margin-bottom:  15px;
    @media screen and (min-width: 1280px) {
        margin: 15px 0 30px;
    }

&::after {
    content: '';
    position: absolute;
    display: block;
      
    width: 17px;
    border-bottom: 2px solid $orange-text;
}
}


//   .about-expirience__item--space {
//     width: 17px;


//     border-bottom: 2px solid $orange-text;
//   }


// .about-expirience__item--space {
//     margin: 15px 0;
//     @media screen and (min-width: 1280px) {
//         margin: 30px 0;
//     }
// }

.about__education {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
    margin-bottom: 10px;

    color: $grey-text;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: calc(28 / 18);
        
        margin-bottom: 20px;
    }
}

.about-sertificate__link {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
    
    text-decoration-line: underline;
    color: $orange-text;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: calc(28 / 18);
    }
}
