*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*КОНТЕЙНЕР*/
.container {
  max-width: 480px;
  min-width: 320px;
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $min-tablet) {
    width: 768px;
    padding: 0 40px 50px;
  }

  @media (min-width: $min-desktop) {
    min-width: 1280px;
    max-width: 1375px;
    padding: 0 30px 130px;
  }
}

/*СКРЫТЫЙ КЛАСС*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
}
