.contacts {
  // padding-top: 50px;
  background-color: $dark-text-bg;
  @media screen and (min-width: $min-desktop) {
    height: 840px;
  }
}
  
.contacts__overlay {
  padding-top: 50px;
    
  @media screen and (max-width: 479px) {
      height: 520px;
      background-image: url(../images/contact-mobile.png);

      background-position: center;
      background-size: cover;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/contact-mobile@2x.png);
        background-size: cover;
        background-position: center;
      }
    }
    @media screen and (min-width: $min-mobile) {
      height: 520px;
      background-image: url(../images/contact-mobile.png);
      background-size: 480px 520px;
      background-position: center;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/contact-mobile@2x.png);
        background-size: cover;
        background-position: center;
      }
    }
    @media screen and (min-width: $min-tablet) {
      height: 520px;
      background-image: url(../images/contact-tablet.png);
      background-size: 768px 520px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/contact-tablet@2x.png);
        background-size: 768px 520px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    @media screen and (min-width: $min-desktop) {
      height: 840px;
      background-image: url(../images/contact-desctop.png);
      background-size: cover;
      background-position: center;
      // padding: 100px 295px 62px;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/contact-desctop@2x.png);
        background-size: cover;
        background-position: center;
        // padding: 100px 295px 62px;
      }
    }
  }

  .contacts__container{
    @media screen and (max-width: 479px) {
  
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  } 
    
  @media screen and (min-width:$min-desktop) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
   
  .contacts{
  
    &__title {
    // padding-left: 20px;
    // padding-right: 20px;
    // padding-top: 50px;

    text-align: center;
    max-width: 280px;
    margin-right: auto;
    margin-left: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 136%;

    color: $white-text;

    @media screen and (min-width: $min-tablet) {
      // padding-left: 40px;
      // padding-right: 40px;
      max-width: 688px;
      font-style: bold;
      font-size: 26px;
      line-height: 1.3;
    }

    @media screen and (min-width: $min-desktop) {
      // padding-top: 100px;
     text-align: center;

      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      max-width: 1090px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title--orange {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 136%;

    color: $orange-text;

    @media screen and (min-width: $min-tablet) {
      
      font-style: Bold;
      font-size: 26px;
      line-height: 1.3;
    }

    @media screen and (min-width: $min-desktop) {
      font-style: normal;
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
    }
  }
  
  &__text {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    max-width: 280px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    margin-left: auto;
    margin-right: auto;
    color: $white-text;

    @media screen and (min-width: $min-tablet) {
      margin-top: 30px;
      // padding-left: 158px;
      // padding-right: 158px;
      text-align: center;
      max-width: 452px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.214;

      color: $white-text;
    }

    @media screen and (min-width: $min-desktop) {
      
      margin-bottom: 56px;

      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.23;
      max-width: 1090px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  &__text--orange {
    
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;

    color: $orange-text;

    @media screen and (min-width: $min-tablet) {
      font-size: 14px;
      line-height: 1.214;
    }

    @media screen and (min-width: $min-desktop) {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.23;
    }
  }
}
.contacts-form {
  margin-top: 30px;

  @media screen and (min-width: $min-tablet) {
    margin-top: 40px;
  }

  @media screen and (min-width: $min-desktop) {
    margin-top: 56px;
  }

  &__wrapper:not(:first-child) {
    margin-top: 30px;

    @media screen and (min-width: $min-desktop) {
      margin-top: 30px;
    }
  }

  &__wrapper {
    position: relative;
    height: 48px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $min-tablet) {
      height: 48px;
      width: 390px;
    }

    @media screen and (min-width: $min-desktop) {
      height: 70px;
      width: 478px;
    }
  }

  &__item {
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;

    color: $white-text;
  }

  &__text {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    padding-right: 28px;
    background-color: transparent;
    border: 1px solid #ffffff;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;

    color: $white-text;
  }

  &__button-wrapper {
    margin-top: 50px;
    height: 48px;
    width: 260px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: $min-tablet) {
      margin-top: 31px;
      height: 48px;
      width: 260px;
    }

    @media screen and (min-width: $min-desktop) {
      margin-top: 80px;
      height: 70px;
      width: 354px;
    }
  }

  &__button {
    padding: 16px 10px;
    width: 100%;
    background-color: $orange-text;
    margin-top: 40px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;

    color: $white-text;

    @media screen and ( min-width: 768px) {
      margin-top: 30px;
    }
@media screen and (min-windth: 1280px) {
  margin-top: 80px;
}
  }
}

