.copyright {
  background-color: $dark-text-bg;

  &__container {
    padding: 21px 0px;

    @media (min-width: $min-tablet) {
      width: 768px;
      padding: 22px 0px 21px 40px;
      text-align: left;
      margin: 0px;
    }
    @media (min-width: $min-desktop) {
      max-width: 1280px;
    }
  }
}
.copy {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: $grey-text;
}
