.footer {
  padding-top: 30px;
}
 
.footer__container{
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 0px;
  
  @media scree and (max-width: 767px ){
    flex-direction: column;   
  }
  @media scree and (min-width: 768px ) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-logo {
  text-align: center;

&__label{
  
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.26;

  color: $dark-text-bg;

}

&__link{

  
  width: 15px;
  height: 20.5px;
}

&__item{
  
  // background-image: url(../images/helleng.svg);
  
 

  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  
  
  
  text-transform: uppercase;



color: $dark-text-bg;

}
}

.footer-sociall { 
  
   margin-top: 20px;
   text-align: center;
  
   
 
   @media screen and(min-width: $min-tablet){
     
   }





&__link {
  margin-left: 10px;
 
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: #111518;
}

&__item{
  fill:  $orange-text;
}

&__icon {
  
  position: absolute;
  
  width: 40px;
  height: 40px;
  margin-top: 30px;
  background-image:  url(../images/Group.svg),  radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 30px;
}
}