.footer {
  padding-top: 30px;
  // position: relative;

  .footer__container {
    min-width: 320px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    padding: 40px 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (min-width: 1280px) {
        justify-content: flex-start;
        max-width: 1090px;
        width: 100%;
      }
    }
  }

  .footer-logo {
    text-align: center;

    &__label {
      font-style: normal;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.26;

      color: $dark-text-bg;
    }

    &__link {
      width: 15px;
      height: 20.5px;
    }

    &__item {
      // background-image: url(../images/helleng.svg);

      font-style: normal;
      font-weight: bold;
      font-size: 8px;
      line-height: 10px;

      text-transform: uppercase;

      color: $dark-text-bg;
    }

    &__item--orange {
      @media screen and (min-width: 768px) {
        color: $orange-text;
      }
    }
  }

  .footer-sociall {
    text-align: center;

    @media screen and (max-width: 479px) {
      margin-top: 20px;
    }

    @media screen and(min-width: $min-tablet) {
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 290px;
    }

    &__link {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 48px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.21;

      color: #111518;
    }

    &__item {
      fill: $orange-text;
    }

    &__icon {
      // position: absolute;
      // display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
      height: 40px;

      background-image: url(../images/Group.svg),
        radial-gradient(
          110.28% 110.28% at 20.5% 87.39%,
          #fae100 0%,
          #fadc04 5.44%,
          #fbce0e 11.67%,
          #fcb720 18.29%,
          #fe9838 25.14%,
          #ff7950 30.54%,
          #ff1c74 49.22%,
          #6c1cd1 100%
        );
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 10px;
      top: 70%;
      left: 50%;
      transform: translate(-50%);

      @media screen and (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: 768px) {
      .footer-sociall__link::after {
        content: '';
        display: inline-block;
        height: 40px;
        border: 1px solid #b9b9b9;
        margin-left: 24px;
        background-image: url(../images/vector1.svg);
      }
    }
  }
}
