
 
.footer__container{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media scree and (max-width: 767px ){
    flex-direction: column;   
  }
  @media scree and (min-width: 768px ) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.logo-field {
  
  display: flex;
  flex-direction: column;
  align-items: center;
 
&__label{
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;

  color: $dark-text-bg;

}

&__link{
  display: inline-block;
  width: 15px;
  height: 20.5px;
}

&__item{
  display: inline-block;
  background-image: url(../images/helleng.svg);
  
  width: 83.85px;
  height: 6px;
}
}

.footer-sociall {
  margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
 
   @media screen and(min-width: $min-tablet){
     flex-direction: row;
   }


&__box {
  // display: flex;
}

&__link {
  margin-left: 10px;
 
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: #111518;
}

&__item{
  fill:  $orange-text;
}

&__icon {
  // display: flex;
  width: 40px;
  height: 40px;
  margin-top: 30px;
  background-image:  url(../images/Group.svg),  radial-gradient(110.28% 110.28% at 20.5% 87.39%, #FAE100 0%, #FADC04 5.44%, #FBCE0E 11.67%, #FCB720 18.29%, #FE9838 25.14%, #FF7950 30.54%, #FF1C74 49.22%, #6C1CD1 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10px;
}
}