li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-left: 144px;
  margin-right: 60px;
  @media (max-width: 1280px) {
    display: none;
  }
}

.name {
  text-transform: uppercase;
  color: $dark-text-bg;
  font-size: 5px;
  margin-top: 3px;
  margin-bottom: 0px;

  @media (min-width: 767px) {
    margin-top: 0px;
    font-size: 8px;
    line-height: 10px;
    font-weight: 700;
  }
}

.hell {
  @media (min-width: 767px) {
    color: $orange-text;
  }
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-text-bg;
  font-weight: 800;
  font-size: 12px;

  @media (min-width: 767px) {
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
  }
}

.header__button {
  width: 260px;
  height: 48px;
  margin-left: auto;
  margin-right: 40px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  border: 2px solid $orange-text;
  text-transform: uppercase;
  color: $orange-text;

  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1280px) {
    margin-left: auto;
    width: 336px;
    height: 70px;
    font-size: 14px;
    margin-right: 0px;
  }
}

.header-menu__button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0px;

  width: 20px;
  height: 20px;

  border: transparent;
  background: transparent;
  color: black;

  @media (min-width: 1280px) {
    display: none;
  }
}

.header-menu__button :hover,
.header-menu__button :focus {
  fill: $orange-text;
}

.header-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
}

.links-menu:not(:first-child) {
  margin-left: 25px;
}

.links-menu :hover,
.links-menu :focus {
  color: $orange-text;
}

.links-item {
  text-transform: uppercase;
  color: $grey-text;

  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.links-item.carrnet {
  color: $orange-text;
}
