.hero {
   
    &__container {
    width: 320px;
    padding: 50px 20px 47px 20px;
    // margin:auto;
    position:relative;
    }

    &__title {
        margin-bottom:30px;
        color: $dark-text-bg;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.03em;
    }

    &__subtitle {
        color:$grey-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;
    }

    &__article {
        color:$dark-text-bg;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;
    }

    &__item {
        margin-bottom: 30px;
        color:$orange-text;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;
    }

    &__btn {
        margin:30px 10px 30px 10px;
        padding: 14px 9px 14px 9px;
        color:$white-text;
        background-color:$orange-text;
        outline: transparent;
        border:none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    &__img {
        width:178px;
        height: 177px;
        align-self:center;
        margin:auto;
        position:relative;
    }

    &__gradient {
        width:208px;
        height:148px;
        position:absolute;
        top:340px;
        left:50px;
    }
}