.hero {
   
    &__container {
    width: 320px;
    padding: 0 20px 47px 20px;
    // margin:auto;
    position:relative;

    @media (min-width:481px) and (max-width:768px) {
        width:768px;
        padding-left:42px;
        padding-right: 36px;
        display:flex;
        justify-content: space-between;
    }    

    @media (min-width:769px) and (max-width:1280px) {
        width:1280px;
        padding: 0 30px 100px 30px;
        display:flex;
        justify-content: space-between;
    }
    }
    
    &__title {
        margin-bottom:30px;
        color: $dark-text-bg;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.03em;

        @media (min-width:481px) and (max-width:768px) {
            padding-right:90px;
        }

        @media (min-width:769px) and (max-width:1280px) {
            font-weight: 800;
            font-size: 58px;
            line-height: 75px;
            letter-spacing: 0.03em;

        }
    }

    &__subtitle {
        color:$grey-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;

        
    }

    &__article {
        color:$dark-text-bg;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;

        @media (min-width:481px) and (max-width:768px) {
            padding-right:55px;
        }
    }

    &__item {
        margin-bottom: 30px;
        color:$orange-text;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.08em;

        @media (min-width:481px) and (max-width:768px) {

        }
    }

    &__btn {
        margin:30px 10px 30px 10px;
        padding: 14px 9px 14px 9px;
        color:$white-text;
        background-color:$orange-text;
        outline: transparent;
        border:none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;

        @media (min-width:481px) and (max-width:768px) {
            align-items: left;
            margin:30px 10px 30px 0px;
        }
    }

    &__img {
        width:178px;
        height: 177px;
        align-self:center;
        margin:auto;
        

        @media (min-width:481px) and (max-width:768px){
            width:321px;
            height:320px;
            margin:0;
            align-self: right;
            margin-top: 10px;
        }

        @media (min-width:769px) and (max-width:1280px) {
            width:519px;
            height:518px;
            margin:0;
            margin-right: 40px;
            align-self: right;
        }
    }

    &__gradient {
        width:208px;
        height:148px;
        position:absolute;
        top:290px;
        left:50px;

        @media (min-width:481px) and (max-width:768px) {
            width:375px;
            height:269px;
            top:27px;
            left:376px;
            
        }

        @media (min-width:769px) and (max-width:1280px) {
            width:607px;
            height: 338px;
            top: 37px;
            left:620px;
        }
    }
}

.hero-set  {
    @media (min-width:481px) and (max-width:768px) {
        width:332px;
        display:block;
        // display:flex;
        // flex-direction: column;
        justify-content: left;
}
}