.menu__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 40px 15px;

  background-color: $modal-bg;
  z-index: 3;
  transform: translateY(-100%);

  opacity: 0;

  transition-property: opacity;
  transition: $transition-function;
}

.menu__container.is-open {
  transform: translateY(0);
  opacity: 1;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 37px;
  right: 10px;

  width: 30px;
  height: 30px;

  padding: 0px;

  @media (min-width: $min-tablet) {
    top: 48px;
  }

  border-radius: none;
  border-color: transparent;
  background-color: transparent;

  &:hover {
    fill: $orange-text;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;

  @media (min-width: $min-tablet) {
    font-size: 26px;
    justify-content: center;
  }
}

/*.mobile-menu__link {
  margin-bottom: 32px;
}*/

.mobile-menu__item {
  text-decoration: none;
  color: $white-text;

  &:hover {
    color: $orange-text;
  }
}

.mobile-menu__item.currnet {
  color: $orange-text;
}

.logo__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.name__logo {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: $white-text;
  width: 100%;
  font-size: 5px;
  margin-top: 3px;
  margin-bottom: 0px;

  @media (min-width: $min-tablet) {
    margin-top: 0px;
    font-size: 8px;
    line-height: 10px;
    font-weight: 700;
  }
}

.menu__logo {
  color: $white-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 12px;

  @media (min-width: $min-tablet) {
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
  }

  &__icon {
    width: 13px;
    height: 19px;

    @media (min-width: $min-tablet) {
      width: 22px;
      height: 30px;
    }
  }

  .menu__button--send {
    width: 260px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    border: 2px solid $orange-text;
    text-transform: uppercase;
    color: $orange-text;

    @media (min-width: $min-tablet) {
      display: none;
    }

    &:hover,
    &:focus {
      background: $orange-text;
    }
  }
}
