.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;

  background-color: $modal-bg;

  opacity: 1;
  overflow: hidden;
  transition-duration: $transition-function;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  height: 650px;
  width: 310px;
  background-color: $orange-text;

  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  @media (min-width: 450px) {
    height: 609px;
    width: 450px;
  }
  @media (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }

  border-radius: 2px;

  transform: translate(-50%, -50%) scaleY(1);

  transition-property: $dark-text-bg;

  &__input {
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding-left: 32px;

    font-family: inherit;
    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition-property: border-color;
    transition: $transition-function;
  }
  &__icon {
    position: absolute;
    top: 52%;
    left: 10px;
    transform: translateY(-50%);

    transition-property: fill;
    transition: $transition-function;
  }

  &__coment {
    margin: 0px;
  }

  &__textarea {
    width: 100%;
    height: 120px;

    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;

    border: 1px solid $shadow10-cards;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
  }

  &__btn-send {
    display: flex;
    align-items: center;
    cursor: pointer;

    width: 200px;
    height: 50px;

    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;

    padding: 10px 56px;

    margin-left: auto;
    margin-right: auto;

    color: $white-text;

    background: $dark-text-bg;
    border-radius: 2px;

    border: none;

    transition-property: background;
    transition: $transition-function;

    &:hover,
    &:focus {
      background: $white-text;
      color: $dark-text-bg;
      transition-duration: $transition-function;
    }
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  padding: 0px;

  border-radius: 50%;
  border-color: $shadow10-cards;
  background-color: $dark-text-bg;

  &:hover,
  &:focus {
    collor: $white-text;
  }
}

.modal-close {
  display: flex;
  align-items: center;
  cursor: pointer;
  fill: $white-text;

  transition-property: fill;
  transition: $transition-function;

  &:hover,
  &:focus {
    fill: $dark-text-bg;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;

  &__group {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;

    margin-bottom: 10px;
  }

  &__input-wrapper {
    cursor: pointer;
    position: relative;
    height: 40px;

    margin-top: 4px;
  }

  &__group:hover .modal__input,
  &__group:focus-within .modal__input {
    border-color: $dark-text-bg;
  }

  &__group:hover .modal__input + .modal__icon,
  &__group:focus .modal__input + .modal__icon {
    fill: $dark-text-bg;
  }
}

.modal-heading {
  text-align: center;

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.03em;

  @media (min-width: $min-desktop) {
    line-height: 23px;
  }

  margin-top: 0px;
  margin-bottom: 12px;
}
