.program {
    background-color: $program-bg;
    position: relative;
    
}

.program__container {
    background-color: $program-bg;
    padding-bottom: 537px;
    
    
    @media (min-width: $min-tablet) and (max-width: $min-desktop){
        padding: 60px 40px;
        padding-bottom: 392px;
    }
    @media (min-width: $min-desktop){
        padding-top: 120px;
        padding-bottom: 363px;
    }
    @media (min-width: $min-desktop){
        max-width: 1314px;
    }

}

.program__wrapper {

    display: flex;

    @media (max-width: $min-tablet) {
    justify-content: center;
    }

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        justify-content: center;
    }

}

.program__list {
    color: $white-text;
    
    @media (max-width: $min-desktop){
        padding-left: 20px;
        border-left: 2px solid;
    }

    @media (max-width: $min-mobile) {
        margin-left: 88px;
    }

    @media (min-width: $min-tablet) and (max-width: $min-desktop){
        padding-left: 50px;
    }

    @media (min-width: $min-desktop){
        display: flex;
        justify-content: space-evenly;
        padding-top: 60px;
        border-top: 2px solid;
        width: 100%;
    }
    
}

.program__item {
    @media (min-width: $min-desktop){
        width: 240px;
    }
    @media (min-width: $min-desktop){
        &:not(:last-child) {
        margin-right: 30px;
        }
    }

    @media (max-width: $min-desktop){

    &:not(:first-child) {
    margin-top: 40px;
    }

    
    }
}

.program__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: $white-text;
    margin-bottom: 43px;

    @media (min-width: $min-tablet) {
        margin-bottom: 52px;
        display: flex;
        align-items: flex-start;
        font-size: 26px;
    }

    @media (min-width: $min-desktop){
        font-size: 46px;
        margin-bottom: 100px;
    }
}

.program__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $white-text;
    position: relative;
    margin-bottom: 5px;
    @media (min-width: $min-desktop){
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 25px;
    }
   

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        background-color: $orange-text;
        
        border-radius: 50%;
        @media (max-width: $min-tablet){
            left: -27px;
            top: 35%;
        }

        @media (min-width: $min-tablet) and (max-width: $min-desktop) {
            left: -57px;
            top: 35%;
        }

        @media (min-width: $min-desktop){
            left: 0px;
            top: -67px;
        }
    }
}

.program__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    color: $orange-text;
    text-transform: none;
    padding-left: 18px;
    position: relative;


    @media (min-width: $min-desktop){
        font-size: 20px;

    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 12px;
        height: 1px;
        background-color: $orange-text;
        left: 0px;
        top: 50%;
        
    }
}

.program__description {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: $grey-text;
    text-transform: none;
    margin-top: 5px;

    @media (min-width: $min-desktop){
        font-size: 18px;
        line-height: 1.56;
    }
}

.picture__program {
    position: relative;
    opacity: 0.5;
    // overflow: visible;

    &::after {
    content: url(../images/mobile-program.jpg);
    position: absolute;
    left: 80px;
    top: 0px;

    @media (min-width: $min-mobile) and (max-width: $min-tablet) {
        left: 166px;
    }

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        content: url(../images/program-desktop.jpg);
        left: 240px;
        top: -100px;
    }
    @media (min-width: $min-desktop){
        content: url(../images/program-tablet.jpg);
        left: -1350px;
        top: 260px;
    }
    }
}

.program__skills {

    @media (min-width: $min-desktop) {
        &:not(:last-child) {
        margin-bottom: 30px;
    }
}

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    
    &:not(:last-child) {
    margin-right: 30px;
    width: 176px;
    }
    }
}



// BENEFITS

.benefits__container {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    position: absolute;

    bottom: -120px;
    left: 0;
    
    @media (min-width: $min-mobile) and (max-width: $min-tablet) {
        bottom: -120px;
        right: 0px;
        max-width: 480px;
    }
    
    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        bottom: -180px;
        right: 0px;
        max-width: 688px;
    }
    @media (min-width: $min-desktop) {
        bottom: -200px;
        right: 0px;
        max-width: 1314px;
    }
}

.benefits__item {
    @media (max-width: $min-tablet) {
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        margin: 20px;
        width: calc((100% - 80px) / 2);
    }

    @media (min-width: $min-desktop) {
        margin: 20px;
        width: calc((100% - 120px) / 3);
    }
}

.benefits__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: $white-text;
    background-color: inherit;
    max-width: 180px;
    position: relative;
    padding-bottom: 30px;

    @media (min-width: $min-tablet) and (max-width: $min-desktop) {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    @media (min-width: $min-desktop) {
        visibility: hidden;
    }
}


.benefits__text {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.08em;
    color: $program-bg;

    margin-top: 10px;

    @media (min-width: $min-desktop) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.benefits__list {
    counter-reset: num;
	list-style: none;
    background-color: $white-text;

    padding: 20px 14px 30px;

    @media (min-width: $min-tablet) {
        display: flex;
        margin: -20px;
        flex-wrap: wrap;
    }
    
    @media (min-width: $min-desktop){
    min-height: 398px;
    padding: 70px 50px 
}

}

.benefits__subtitle {
    
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.649;
    letter-spacing: 0.08em;
    color: $orange-text;

    counter-increment: num;
	position: relative;

    &::after {
        content: counter(num);
	    color: $orange-text;
	    position: absolute;
        left: 20px;
    }

    &:nth-child(-n+9)::after {
        content: "0" counter(num);
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 1px;
        background-color: $orange-text;
        left: 0px;
        top: 50%;
    }
}