.reviews {
  background-color: $light-bg;
  // background-color: grey;
  &__container {
    min-width: $min-flexmobile;
    max-width: $min-mobile;
    width: auto;
  }

  &__title {
    @include font(800, 20px, 26px, 0.03em);
    text-align: center;
    color: $dark-text-bg;
    margin-bottom: 20px;
  }

  // стили для slick слайдера
  // название класов создает библиотека
  & .slick {
    &-track {
      display: flex;
    }

    &-slider {
      position: relative;
    }

    &-list {
      overflow: hidden;
    }

    &-arrow {
      position: absolute;
      bottom: -50px;
      z-index: 10;
      font-size: 0;
      width: 27px;
      height: 16px;
      border: hidden;
    }

    // стрелочки
    &-prev {
      left: 0px;
      background: url('/images/arrow-left.svg') 0 0 / 100% no-repeat;
    }
    &-next {
      right: 0px;
      background: url('/images/arrow-right.svg') 0 0 / 100% no-repeat;
    }
  }
}

.reviewer {
  min-width: calc ($min-flexmobile - 40px);
  max-width: calc ($min-mobile - 40px);
  width: 100%;
  display: block;
  text-align: center;
  background: $white-color;
  padding: 20px;
  padding-bottom: 30px;
  align-items: flex-start;

  &__item {
    // width: 280px;
    // margin: 0;
  }

  &__picture {
    width: 90px;
    border-radius: 50%;
    margin: auto;
  }
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    fill: $blue-text;
  }

  &__name {
    @include font(800, 14px, 17px, 0.08em);

    text-align: center;
    color: $orange-text;
    padding-bottom: 10px;
  }

  &__education {
    @include font(500, 12px, 15px, 0.08em);
    text-align: center;

    color: $grey-text;
    margin-bottom: 10px;
  }

  &__description {
    @include font(500, 12px, 20px, 0em);
    text-align: center;
    color: $graphite-text;
    // margin-bottom: 20px;
    min-height: 100px;

    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media (min-width: $min-mobile) {
      -webkit-line-clamp: 7;
      @media (min-width: $min-tablet) {
        -webkit-line-clamp: 5;
      }
    }
    @media (max-width: $min-mobile) {
      -webkit-line-clamp: 8;
      @media (max-width: 448px) {
        -webkit-line-clamp: 9;
        @media (max-width: 416px) {
          -webkit-line-clamp: 10;
          @media (max-width: 384px) {
            -webkit-line-clamp: 11;
            @media (max-width: 352px) {
              -webkit-line-clamp: 12;
            }
          }
        }
      }
    }
  }
  &__description:hover {
    -webkit-line-clamp: 100;
  }
  &__description:hover + &__button {
    display: none;
  }

  &__button {
    display: block;
    text-align: center;
    justify-content: center;
    min-width: calc ($min-flexmobile - 80px);
    max-width: calc ($min-mobile - 80px);
    margin: auto;
    color: $orange-text;
    text-decoration: underline;
    border: hidden;
    bottom: 0;
    z-index: 20;
    background-color: transparent;
  }
}

.reviewers {
  padding: 20px 30px 0;
  &__set {
    width: 182px;
    display: flex;
    margin: 0 auto;
  }
  &__item {
    width: 54px;
    height: 54px;
    margin: 0 5px;
    text-align: center;
  }
  &__picture {
    border-radius: 50%;
    opacity: 0.7;
  }
  & .slick {
    &-current .reviewers__picture {
      // border: 1px solid black;
      opacity: 1;
    }
  }
}
* {
  // outline: 1px solid red;
}
